@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --primary-color: #fd6711;
    --secondary-color: #13c5d0;
    --secondary-light-color: #c9fbfdc2;
    --color-three:#fdf4ed;
    --color-four:#fd6711c2;
    --color-five:#13c5d0c2;
    --color-six:#ff9f00c2;
    --primary-shadow: 0px 6px 15px rgba(0,0,0,0.1);
    --secondary-shadow: 0px 6px 15px rgba(0,0,0,0.2);
}

.text-primary{
    color: var(--primary-color);
}

.text-primary-hover:hover{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-primary-hover:hover{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-secondary-light{
    background-color: var(--secondary-light-color);
}

.bg-three{
    background-color: var(--color-three);
}

.bg-four{
    background-color: var(--color-four);
}

.bg-five{
    background-color: var(--color-five);
}

.bg-six{
    background-color: var(--color-six);
}

.shadow-primary{
    box-shadow: var(--primary-shadow);
}

.shadow-secondary{
    box-shadow: var(--secondary-shadow);
}

.shadow-secondary-hover:hover{
    box-shadow: var(--secondary-shadow);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* page preloader */
#preloader{
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    z-index: 100001;
}

#preloader .loader-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

.loader{
    padding: 5px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 3px solid white;
    border-radius: 50%;
    border-bottom: 3px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);
    animation: rotate 5s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

/* overlay btn */

.overlay-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-color);
    transition: transform 500ms ease-in-out;
}

.overlay-btn:hover{
    scale: 1.05;
    transition: transform 500ms ease-in-out;
}

.overlay-btn:active{
    scale: 0.95;
}

.overlay-btn::after{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform:translateY(100%);
    transition: transform 500ms ease-in-out;
}

.overlay-btn:hover::after{
    transform: translateY(0);
}

/* home page css */

.donation-progress{
    width: 0;
    transition: width .5s ease;
}

.progress-bar-box{
    left: 0;
    transition: left .5s ease;
}

/* overlay highlight animation */
.overlay-highlyt-anime-img{
    position: relative;
    overflow: hidden;
}

.overlay-highlyt-anime-img img{
    z-index: 0;
    transition: transform 300ms ease-in-out;
}

.overlay-highlyt-anime{
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: white;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.overlay-highlyt-anime-card:hover img, .overlay-highlyt-anime-img:hover img{
    transform: scale(1.05);
}

.overlay-highlyt-anime-card:hover .overlay-highlyt-anime, .overlay-highlyt-anime-img:hover .overlay-highlyt-anime{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    top: 0;
    left: 0;
    animation: overlayPulse 1s ease-in-out forwards;
}

@keyframes overlayPulse {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
}

/* overlay normal */
.overlay-normal-img img{
    z-index: 0;
    transition: transform 300ms ease-in-out;
}

.overlay-normal{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.overlay-normal-card:hover img, .overlay-normal-img:hover img{
    transform: scale(1.05);
}

.overlay-normal-card:hover .overlay-normal, .overlay-normal-img:hover .overlay-normal{
    opacity: 0.4;
}

/* .home-team-card:hover .home-team-img::before, .home-team-img:hover::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.4;
} */


.hideX{
    opacity: 0;
    transform: translateX(-30%);
    transition: all 0.8s ease-out 0.3s;
}

.showX{
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s ease-out 0.3s;
}

.hideY{
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.8s ease-out 0.3s;
}

.showY{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease-out 0.3s;
}

/* about page css */

/* contact-page-css */

/* project subpage css */
.donar-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 56px;
    gap: 5px;
    border-radius: 8px;
    background-color: #f9f2ed;
}

.donar-card img{
    width: full;
    height: full;
    border-radius: 9999px;
}

.donar-card .donar-name, .donar-card .donar-amount{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.donar-card .donar-date{
    color: rgb(0,0,0,0.4);
}
